{% extends "AppBundle::Sitio/layout.html.twig" %}

{% set interna = true %}

{% block content %}
		<div class="container mt-5 mb-5" id="comodidades">
            <div class="title-wrapper text-left">
                <h2>Cabaña Superior para 2 personas</h2>
            </div>
            
            <div class="title-wrapper text-left">
                <h3>Comodidades</h3>
            </div>
            
            <div class="row">
                <div class="col">                   
                    <ul class="list list-unstyled theme-color">
                        <li><i class="fas fa-check"></i>Dormitorio principal con cama tipo Sommier de 1,60m Queen</li>                         
                        <li><i class="fas fa-check"></i>Aire Acondicionado Frío/Calor</li>                         
                        <li><i class="fas fa-check"></i>SMART TV 40"</li>                         
                        <li><i class="fas fa-check"></i>Ventilador de techo</li>                         
                        <li><i class="fas fa-check"></i>Jacuzzi Doble, modelo circular</li>           
                    </ul>                     
                </div>

                <div class="col">
                    <ul class="list list-unstyled theme-color">
                        <li><i class="fas fa-check"></i>Baño completo</li>
                        <li><i class="fas fa-check"></i>Cocina equipada con Heladera con Freezer, Microondas, Cafetera Eléctrica, Licuadora.</li>                      
                        <li><i class="fas fa-check"></i>Comedor/Estar con sillones, LCD 32”</li>                         
                        <li><i class="fas fa-check"></i>Hogar a Leños</li>                                     
                    </ul>                     
                </div>
            </div>
        </div>
        <div class="container mt-5 mb-5" id="servicios">
            <div class="row">
                <div class="col">
                    {{ render(controller('AppBundle:Default:galeria',{galeria_id: 2})) }}
                </div>
                <div class="col">
                    <div class="title-wrapper text-left">
                        <h2>Además</h2>
                    </div>
                    <ul class="list list-unstyled theme-color">
                        <li>
                            <i class="fas fa-check"></i>Caja de Seguridad
                        </li>                         
                        <li>
                            <i class="fas fa-check"></i>Alarma
                        </li>   
                        <li>
                            <i class="fas fa-check"></i>Deck con Parrilla individual
                        </li>   
                        <li>
                            <i class="fas fa-check"></i>Mobiliario de Jardín
                        </li>                                             
                    </ul>                     
                </div>
            </div>
            </div>
        </div>

{% endblock %}