$font-stack:    Helvetica, sans-serif;
$color-fondos-01: #f3eee3;
$color-destacado-01:#8c764d;

body {font-family: 'PT Serif', serif;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Oswald', sans-serif;
  color: $color-destacado-01;
  text-transform: uppercase;
}

div#top-menu {
  .telefono-top {
    margin-left: 28px;
  }
  .redes-sociales {
    i {
      margin-left: 20px;
    }
    a {color:#5c5c5c;}
    a:link {color:#5c5c5c; text-decoration: none;}
    a:hover {color:#5c5c5c; text-decoration: none;}
  }
}

div#menu1 {
    background-color: $color-fondos-01;
    border-bottom: solid $color-destacado-01 !important;
    box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.75);
}

div#navbarCollapse {
  top: 8px;
  position: relative;
}

.navbar-dark .navbar-nav .nav-link {
  color: $color-destacado-01;
  font-size: 1.15rem;
}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}


 /* Removes white gap between slides */
.carousel {
  background:#444;
}

/* Forces image to be 100% width and not max width of 100% */
.carousel-item .img-fluid {
  width:100%;
  height:auto;
}

/* anchors are inline so you need ot make them block to go full width */
.carousel-item a {
  display: block;
  width:100%;
}

.carousel-caption {
  h2 {
    font-size: -webkit-xxx-large;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.76);
  }

  p {
    font-size: xx-large;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.76);
  }
  @media (max-width: 767px) {
      h2 {
        font-size: small;
      } 
    
      p{
        font-size: small;
      }
  }
}




div#servicios, div#comodidades {
  li{
  font-size: 1.1rem;
  line-height: 2.15rem;
    i {
    color: $color-destacado-01;
    margin-right: 0.4rem;
    }
  }
  
}


/* GALERÃA */

.my-gallery {
  figure {
    margin-top: 40px;
    img {
      border: 5px solid #FFF;
    }
    .mobile-label {
      display: none;
    }
    &:hover  {
      img {
        border-color: $color-destacado-01;
      }
    }
  }
  @media (max-width: 767px) {
    .row {
      margin: 0;
      padding: 0;
      figure {
        display: none;
        margin: 0;
        padding: 0;
        &.mobile-thumb {
          display: block;
          width: 100%;
          .mobile-label {
            position: absolute;
            top: 50%;
            display: block;
            margin-top: -20px;
            padding: 10px;
            width: 100%;
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
            color: #F00;
            text-transform: uppercase;
            text-align: center;
            background-color: rgba(00,00,00,0.8);
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

footer {
  p,a {
    color: #FFF;
  }
  a:hover {
    color: #FFF;
    text-decoration: underline;
  }
}

.title-wrapper {
  text-align: center;
  h2 {
    position: relative;
    display: inline-block;
    margin: 0 0 50px 0;
    font-size: 36px;
    font-weight: 400;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $color-destacado-01;
  }
}

#servicios{
  .title-wrapper{
    h2{margin: 0 0 20px 0;}
  }

}

/*====== @MEDIA ======*/

@media (max-width: 768px) {
  .navbar .logoluces {
    width: 65%;
    height: auto;
  }  
}

@media (max-width: 992px) {
    .navbar-dark .navbar-nav .nav-link{
    font-size: 0.93rem;
  }
}


.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  margin: 0 0 0 -25px;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  -webkit-transition: visibility 200ms ease-in, opacity 200ms ease-in;
  -o-transition: visibility 200ms ease-in, opacity 200ms ease-in;
  transition: visibility 200ms ease-in, opacity 200ms ease-in;
}
.spinner.on {
  visibility: visible;
  opacity: 1;
}

.spinner > div {
  background-color: #CCC;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}


@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.error {
  border: 2px solid #ff3333 !important;
}

.send.off {
  visibility: hidden;
  opacity: 0;
}

